{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Wish Detail{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <h2>{{ wish.title }}</h2>
    <p>Description : {{ wish.description }}</p>
    <p>Auteur : {{ wish.author }}</p>
    <p>Publié : {{ wish.isPublished ? 'Oui' : 'Non' }}</p>
    <p>Créée le : {{ wish.createdAt | date('d/m/Y H:i') }}</p>
{% endblock %}
