{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Wish Detail{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>
    <h2>{{ wish.title }}</h2>
    <p>Description : {{ wish.description }}</p>
    <p>Auteur : {{ wish.author }}</p>
    <p>Publié : {{ wish.isPublished ? 'Oui' : 'Non' }}</p>
    <p>Créée le : {{ wish.createdAt | date('d/m/Y H:i') }}</p>
    {% if app.user and app.user.username == wish.author %}
            <a href="{{ path('app_wish_edit', {id: wish.id}) }}"><button>Modifier</button></a>
    {% endif %}
    {% if app.user and (app.user.username == wish.author or is_granted("ROLE_ADMIN")) %}
        <a href="{{ path('app_wish_delete', {id: wish.id}) }}"><button>Supprimer</button></a>
    {% endif %}
{% endblock %}
